<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite" data-provider-thread-count = "3">

    <listeners>
<!--        <listener class-name="RetryUtility.AnnotationTransformer"></listener>-->
<!--        <listener class-name="RetryUtility.Listeners"></listener>-->
        <listener class-name="RetryUtility.MethodInterceptor_ExcelSheet_RunManager"></listener>

    </listeners>



    <test thread-count="3" name="Chrome Test">
        <parameter name="browserName" value="Chrome"></parameter>
        <classes>
            <class name="TestCases.LoginPageTest"/>
            <class name="TestCases.HomepageTest"/>
        </classes>
    </test>

    <test thread-count="3" name="Firefox Test">
        <parameter name="browserName" value="Firefox"></parameter>
        <classes>
            <class name="TestCases.LoginPageTest"/>
            <class name="TestCases.HomepageTest"/>
        </classes>
    </test>



</suite> <!-- Suite -->
